<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="common::commonHeader(~{::link},~{::style})">

</head>
<body>
<div class="row">
    <div class="col-6">
        <h1>忧忧博客</h1>
    </div>
    <div class="col-6 text-right">
        <a>退出</a>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <!--下拉菜单-->
    </div>
    <div class="col-10">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <div><span>标题：</span><input/></div>
                <div id="content_input"></div>
                <div><span>标签：</span><input/></div>
                <div id="abstrac_input"></div>
            </div>
            <div class="card-footer">
                <div><button>发布</button><button>暂存</button></div>
            </div>
        </div>
    </div>
</div>

<div th:include="common::commonFooter"></div>
</body>
</html>