<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/nav::commonHeader(~{::link},~{})">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container" id="app">
    <div th:include="common/nav::commonNav"></div>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <span>文章列表</span><span th:text="${tag}" id="tag-span"></span>
                </div>
                <div class="card-body padding-top-bottom-05" v-for="article in articles">
                    <div class="card-title">
                        <a :href="'/detail/'+article.id+'.html'" class="font-weight-bold">{{ article.title }}</a>
                        <span class="float-right font-weight-light form-control-sm">
                            阅读（<span>{{article.viewTimes}}</span>）
                        </span>
                        <span class="float-right font-weight-light form-control-sm">
                            评论（<span>{{article.comments}}</span>）
                        </span>
                    </div>
                    <div class="card-text" v-html="parseMd(article.summary)"></div>
                    <div class="card-deck row">
                        <ol class="breadcrumb col-5 bg-transparent font-weight-light form-control-sm" style="margin-bottom: 0;padding-bottom:0;">
                            <li class="breadcrumb-item">
                                <span class="oi oi-clock" title="clock" aria-hidden="true"></span>
                                发布于 {{getNowFormatDate(article.createTime)}}
                            </li>
                        </ol>
                        <ol class="breadcrumb col-7 bg-transparent font-weight-light form-control-sm" style="margin-bottom: 0;padding-bottom:0; ">
                            <a class="breadcrumb-item" v-for="tag in article.tags" :href="'/index.html?tag='+tag">
                                <span class="oi oi-tag" :title="tag" aria-hidden="true"></span>{{ tag }}</a>
                        </ol>
                    </div>
                    <hr/>
                </div>
                <div class="card-body padding-top-bottom-05" style="text-align: center;">
                    <a class="font-weight-light">{{loadString}}</a>
                </div>
            </div>
        </div>
        <div th:replace="common/nav::rightNav"></div>
    </div>
</div>

<div th:include="common/nav::commonFooter"></div>
<script language="JavaScript" th:src="@{/js/index.js}"></script>
</body>
</html>